*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#one{
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(255, 113, 18);
    border-radius: 10px;
    border: 0;
    cursor: pointer;

    transition: all .5s;

    transition-timing-function: cubic-bezier(0.03, 0.06, 0, 2.72);
}

#one:hover{
    background-color: rgb(237, 106, 18);
}

#one:active{
    transition: all .2s;

    transition-timing-function: calc();
    transform: scale(.95);
}

#two:hover{
    transform: translateX(var(--pos));
}


#two{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(255, 113, 18);
    border-radius: 10px;
    border: 0;
    cursor: pointer;


}



#three-1{
    width: 50px;
    text-align: end;
    padding: 0;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(255, 113, 18);
    border-radius: 10px 0 0 10px;
    border: 0;
    cursor: pointer;

    transition: all .4s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.07, 1.43);
}

#three-2{
    width: 50px;
    text-align: start;
    padding: 0;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(255, 113, 18);
    border-radius: 0 10px 10px 0;
    border: 0;
    cursor: pointer;

    transition: all .5s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.07, 1.43);

}

div:hover > #three-1{
    transition: all .5s;
    transform: translateX(-50px);
    width: 100px;
    text-align: center;
    border-radius: 10px;
    transition-timing-function: cubic-bezier(0.03, 0.06, 0, 2.72);
    color: #fff;
    background-color: #000;
}

div:hover > #three-2{
    transition: all .5s;
    transform: translateX(50px);
    width: 100px;
    text-align: center;
    border-radius: 10px;
    transition-timing-function: cubic-bezier(0.03, 0.06, 0, 2.72);
    color: #fff;
    background-color: #000;
}


#four{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(255, 113, 18);
    border-radius: 10px;
    border: 0;
    cursor: pointer;

    transition: all .5s;
    transition-timing-function: cubic-bezier(0.42, 0, 0.07, 1.43);

}